.logoNavbar {
    width: 80px;
}

.navbarHome {
    -webkit-box-shadow: 2px 0px 18px 1px rgba(222, 222, 222, 1);
    -moz-box-shadow: 2px 0px 18px 1px rgba(222, 222, 222, 1);
    box-shadow: 2px 0px 4px 1px rgba(222, 222, 222, 1);
    background-color: rgb(255, 255, 255) ;
    padding-bottom: 0px;
}